* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Montserrat;
  color: #fff;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.todo-list-content {
  font-size: 18px;
}

body {
  background-image: linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(227, 13%, 4%) 13%, hsl(227, 30%, 7%) 25%, hsl(227, 54%, 9%) 37%, hsl(227, 88%, 9%) 50%, hsl(227, 81%, 11%) 63%, hsl(228, 76%, 14%) 75%, hsl(228, 70%, 16%) 87%, hsl(228, 65%, 18%) 100%);
}

.container {
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100svh;
  min-height: 100vh;
}

.header {
  margin-top: 50px;
}

.header__container {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: start;
}

.header__title {
  color: #5c0667;
  margin-left: 5px;
}

.header__logo img {
  width: 40px;
  height: 40px;
}

.header__options {
  position: relative;
  margin-left: 25px;
}

#options-dropdown {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  border: 1px solid rgba(80, 80, 80, 0.4117647059);
  border-radius: 5px;
  top: 40px;
  left: 0px;
  z-index: 3;
  white-space: nowrap;
  background-color: #1f1f1f;
  box-shadow: 8px 8px 10px #000;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.header__options-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.header__options-item {
  width: 100%;
  padding: 15px 15px 15px 37px;
  text-align: left;
  color: #eee;
}
.header__options-item:not(:last-child) {
  border-bottom: 1px solid #778899;
}
.header__options-item:before {
  content: "";
  position: absolute;
  text-align: left;
  left: 5px;
  width: 20px;
  height: 20px;
}
.header__options-item:hover {
  background-color: rgba(80, 80, 80, 0.3137254902);
}
.header__options-item:focus-visible {
  box-shadow: 0px 0px 0px 1px #fff;
}
.header__options-item[data-action=clear-completed-tasks]::before {
  content: "";
  background: url(../image/icons/completed-task-dd.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header__options-item[data-action=sort-alphabetically]::before {
  content: "";
  background: url(../image/icons/sort-alph-dd.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header__options-item[data-action=sort-by-priority]::before {
  content: "";
  background: url(../image/icons/sort-prtiority-dd.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header__options-item[data-action=sort-by-date]::before {
  content: "";
  background: url(../image/icons/sort-by-creation-date.svg) 0px 0px no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  bottom: 9px;
  left: 2px;
}

@keyframes progressBar {
  100% {
    width: 0;
  }
}
@keyframes inputShow {
  100% {
    opacity: 1;
  }
}
@keyframes inputHide {
  100% {
    opacity: 0;
  }
}
@keyframes searchBtnRight {
  100% {
    right: 3px;
  }
}
@keyframes searchBtnLeft {
  100% {
    right: 250px;
    top: 8px;
  }
}
@keyframes taskEditing {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
@keyframes taskCompleted {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
#notification-container {
  position: absolute;
  right: 0;
  padding: 15px 15px 0 0;
  z-index: 10;
}

.notification {
  position: relative;
  padding: 30px 40px 30px 45px;
  border: 1px solid #778899;
}
.notification:not(:first-child) {
  margin-top: 15px;
}
.notification::before {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 7px;
  top: 25px;
  z-index: 100;
}
.notification:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  animation: progressBar 5s linear forwards;
}
.notification-warning {
  position: relative;
  border: 1px solid #9A7516;
  background: rgba(154, 117, 22, 0.1882352941);
  box-shadow: 0 0 6px #9A7516;
}
.notification-warning::before {
  content: "";
  background: url(../image/icons/warning.svg) no-repeat;
}
.notification-warning::after {
  content: "";
  background: #9A7516;
}

.notification-close {
  position: absolute;
  background-image: url(../image/icons/delete-notif.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
}
.notification-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.notification-close:hover::before {
  opacity: 0.1;
}

@keyframes progressBar {
  100% {
    width: 0;
  }
}
@keyframes inputShow {
  100% {
    opacity: 1;
  }
}
@keyframes inputHide {
  100% {
    opacity: 0;
  }
}
@keyframes searchBtnRight {
  100% {
    right: 3px;
  }
}
@keyframes searchBtnLeft {
  100% {
    right: 250px;
    top: 8px;
  }
}
@keyframes taskEditing {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
@keyframes taskCompleted {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
.header__search {
  position: relative;
  margin-left: 30px;
}

.header__search-button--right {
  position: absolute;
  top: 8px;
  right: 250px;
  z-index: 2;
  animation: searchBtnRight 0.75s forwards;
}
.header__search-button--right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0 !important;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header__search-button--right:hover::before {
  opacity: 0.1;
}

.header__search-button--left {
  position: absolute;
  right: 2px;
  top: 8px;
  z-index: 2;
  animation: searchBtnLeft 0.75s forwards;
}

.todo-create {
  margin-top: 50px;
  align-items: center;
  position: relative;
}

.todo-create-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes progressBar {
  100% {
    width: 0;
  }
}
@keyframes inputShow {
  100% {
    opacity: 1;
  }
}
@keyframes inputHide {
  100% {
    opacity: 0;
  }
}
@keyframes searchBtnRight {
  100% {
    right: 3px;
  }
}
@keyframes searchBtnLeft {
  100% {
    right: 250px;
    top: 8px;
  }
}
@keyframes taskEditing {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
@keyframes taskCompleted {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
.todo-list {
  margin-top: 30px;
}

.todo-list__item {
  position: relative;
  display: flex;
  max-width: 620px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 10px 20px 20px;
  background-color: #0b1231;
  box-shadow: 5px 5px 10px 3px #000;
  transition: background-color 0.2s ease, opacity 0.2s ease, max-width 0.2s ease, margin-left 0.2s ease;
}
.todo-list__item .todo-list-content {
  flex: 1 1 0%;
  display: flex;
}
.todo-list__item label {
  display: block;
}
.todo-list__item:hover {
  background-color: #101946;
}
.todo-list__item:hover button {
  opacity: 1;
  visibility: visible;
}

.todo-list__item-editing {
  position: relative;
}
.todo-list__item-editing::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #778899 !important;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  z-index: 20;
  animation: taskEditing 1s steps(1) infinite;
}
.todo-list__item-editing.todo-list__task-completed {
  text-decoration: none !important;
  color: #fff !important;
}

.todo-list__item-important {
  position: relative;
}
.todo-list__item-important::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgba(255, 217, 0, 0.2666666667) !important;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
}
.todo-list__item-important.todo-list__item-editing::after {
  content: "";
  border-bottom: 2px solid #778899 !important;
  height: 2px;
  z-index: 1;
  animation: taskEditing 1s steps(1) infinite;
}

.todo-list__item-selected {
  background-color: rgb(18, 29, 78) !important;
}

.todo-list__item-placeholder {
  max-width: 620px;
  margin-bottom: 20px;
  background-color: #778899;
  box-shadow: 5px 5px 10px 3px #000;
  opacity: 0.25;
}

.todo-list__item-inactive {
  opacity: 0.5;
  max-width: 550px;
  margin-left: 35px;
}

.todo-list-content {
  margin-left: 10px;
}
.todo-list-content input {
  width: 97%;
}
.todo-list-content input:-moz-read-only {
  cursor: default;
}
.todo-list-content input:read-only {
  cursor: default;
}

.todo-list__task-completed {
  text-decoration: line-through;
  color: #778899;
}

.todo-list__actions {
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}
.todo-list__actions button {
  opacity: 0;
  visibility: hidden;
}
.todo-list__actions img {
  width: 20px;
  height: 20px;
}
.todo-list__actions button:focus-visible {
  box-shadow: 0px 0px 0px 1px #fff;
}

#header__options-button {
  cursor: pointer;
}
#header__options-button img {
  width: 24px;
  height: 24px;
  z-index: 2;
}
#header__options-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
#header__options-button:hover::before {
  opacity: 0.1;
}
#header__options-button:focus-visible {
  box-shadow: 0px 0px 0px 1px #fff;
}
#header__options-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
#header__options-button:hover::before {
  opacity: 0.1;
}

#todo-create__form-submit {
  padding: 15px 20px;
  margin-left: 15px;
  background: linear-gradient(45deg, hsl(278, 100%, 20%) 0%, hsl(280, 100%, 24%) 14%, hsl(281, 100%, 29%) 29%, hsl(283, 100%, 33%) 43%, hsl(284, 100%, 37%) 57%, hsl(286, 100%, 41%) 71%, hsl(287, 100%, 46%) 86%, hsl(289, 100%, 50%) 100%);
  color: #fff;
  border-radius: 20px;
  outline: solid transparent;
  box-shadow: 2px 3px 13px 0px #000;
  transition: outline 0.5s ease, color 0.5s ease;
}
#todo-create__form-submit:hover {
  outline: solid 1.6px #e101ff;
  color: #cecece;
}
#todo-create__form-submit:focus {
  outline: solid 1.6px #e101ff;
}
#todo-create__form-submit:active {
  opacity: 0.85;
  outline: solid 1.6px #ad0dc3;
  transition: none;
}

.header__search-buttons {
  display: flex;
}

.header__search-button {
  position: absolute;
  top: 8px;
}
.header__search-button img {
  width: 24px;
  height: 24px;
}
.header__search-button:focus-visible {
  box-shadow: 0px 0px 0px 1px #fff;
}
.header__search-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header__search-button:hover::before {
  opacity: 0.1;
}

.header__search-clear {
  display: none;
  position: absolute;
  top: 8px;
  right: 33px;
  z-index: 2;
}
.header__search-clear img {
  width: 24px;
  height: 24px;
}
.header__search-clear:focus-visible {
  box-shadow: 0px 0px 0px 1px #fff;
}
.header__search-clear.header__search-clear--visible {
  display: block;
}
.header__search-clear.header__search-clear--visible::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header__search-clear.header__search-clear--visible:hover::before {
  opacity: 0.1;
}

.todo-list__edit {
  position: relative;
}
.todo-list__edit::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.todo-list__edit:hover::before {
  opacity: 0.1;
}

.todo-list__delete {
  position: relative;
  margin-left: 10px;
}
.todo-list__delete img {
  width: 26px;
  height: 26px;
}
.todo-list__delete::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.todo-list__delete:hover::before {
  opacity: 0.1;
}

.todo-list__important-mark {
  position: relative;
  margin-left: 8px;
}
.todo-list__important-mark img {
  width: 21px;
  height: 21px;
}
.todo-list__important-mark::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 10.5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.todo-list__important-mark:hover::before {
  opacity: 0.1;
}

.important__button_active {
  position: relative;
  background: url(../image/icons/important-mark-active.svg) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  z-index: 3;
}

.important__button-active--visible {
  opacity: 1 !important;
  visibility: visible !important;
}

@keyframes progressBar {
  100% {
    width: 0;
  }
}
@keyframes inputShow {
  100% {
    opacity: 1;
  }
}
@keyframes inputHide {
  100% {
    opacity: 0;
  }
}
@keyframes searchBtnRight {
  100% {
    right: 3px;
  }
}
@keyframes searchBtnLeft {
  100% {
    right: 250px;
    top: 8px;
  }
}
@keyframes taskEditing {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}
@keyframes taskCompleted {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}
#todo-create__form-input-text {
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #5c0667;
  box-shadow: 2px 3px 13px 0px #000;
  color: #fff;
  transition: border 0.5s ease-in, padding-right 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease-in;
}
#todo-create__form-input-text:focus {
  padding-right: 50px;
  border: 1.5px solid #ad0dc3;
  background-color: rgba(82, 0, 102, 0.4117647059);
  box-shadow: 5px 5px 11px 0px rgba(82, 0, 102, 0.4117647059);
}
#todo-create__form-input-text:focus::-moz-placeholder {
  opacity: 0.75;
}
#todo-create__form-input-text:focus::placeholder {
  opacity: 0.75;
}
#todo-create__form-input-text:hover {
  background-color: rgba(82, 0, 102, 0.4117647059);
}

input[type=checkbox] {
  display: none;
}

.checkbox__custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #778899;
  transition: border-color 0.4s ease;
}
.checkbox__custom:after {
  content: "";
  position: absolute;
  left: 8.2px;
  top: 3.1px;
  width: 6.4px;
  height: 13px;
  border: solid #778899;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: border-color 0.4s ease, opacity 0.4s ease;
}
.checkbox__custom:hover {
  border-color: rgba(0, 183, 92, 0.6901960784);
}

input:checked ~ .checkbox__custom {
  border-color: rgba(0, 183, 92, 0.6901960784);
}
input:checked ~ .checkbox__custom:after {
  opacity: 1;
  border: solid rgba(0, 183, 92, 0.6901960784);
  border-width: 0 2px 2px 0;
}

#header__search-input {
  position: relative;
  opacity: 0;
  visibility: hidden;
  padding: 10px 60px 9px 10px;
  border: 1px solid rgba(119, 136, 153, 0.3137254902);
  border-bottom: 1px solid #778899;
  z-index: 1;
  transition: opacity 0.75s ease, visibility 0.75s ease;
}
#header__search-input:focus {
  border-bottom: 1px solid #ad0dc3;
}
#header__search-input:focus::-moz-placeholder {
  opacity: 0.75;
}
#header__search-input:focus::placeholder {
  opacity: 0.75;
}
#header__search-input.visible {
  opacity: 1;
  visibility: visible;
}