* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat";
  color: #fff;
  background-image: linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(227, 13%, 4%) 13%, hsl(227, 30%, 7%) 25%, hsl(227, 54%, 9%) 37%, hsl(227, 88%, 9%) 50%, hsl(227, 81%, 11%) 63%, hsl(228, 76%, 14%) 75%, hsl(228, 70%, 16%) 87%, hsl(228, 65%, 18%) 100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100svh;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 30px 30px 0 30px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: regular;
  color: rgb(92, 6, 103);
}

.header__settings {
  margin-left: 25px;
}

.header__logo img {
  width: 30px;
  height: 30px;
}

.todo-main {
  margin-top: 50px;
}

.task-input {
  position: relative;
  display: flex;
  align-items: end;
  margin-left: 34px;
}

#taskInput {
  border: 1px solid rgb(92, 6, 103);
  padding: 15px;
  color: #fff;
  border-radius: 20px;
  transition: padding-right 0.5s ease, border 0.5s ease-in;
}
#taskInput:focus {
  padding-right: 50px;
  border: 1.5px solid rgb(173, 13, 195);
  background-color: rgba(82, 0, 102, 0.411);
}
#taskInput:hover {
  background-color: rgba(82, 0, 102, 0.411);
}

.task-input--message {
  position: absolute;
  width: 360px;
  height: 69px;
  font-size: 12px;
  top: 0px;
  left: -370px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.task-input--message::before {
  content: "!";
  font-size: 18px;
  margin-right: 8px;
  box-shadow: 4px 4px 10px 4px #000;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.task-input--message:after {
  content: "";
  position: absolute;
  top: 67px;
  left: 16px;
  width: 326px;
  height: 1px;
  animation: runningLine 5s cubic-bezier(1, 1, 1, 1);
}

.message-error {
  border: 1px solid rgba(255, 0, 0, 0.397);
  background-color: rgba(66, 0, 0, 0.37);
}
.message-error::before {
  content: "!";
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.397);
}
.message-error:after {
  content: "";
  border: 1px solid #ff0000;
}

.message-warning {
  border: 1px solid rgba(207, 159, 0, 0.39);
  background-color: rgba(121, 88, 0, 0.37);
}
.message-warning::before {
  color: orange;
}
.message-warning:after {
  content: "";
  border: 1px solid orange;
}

@keyframes runningLine {
  0% {
    width: 90%;
  }
  100% {
    width: 0;
  }
}
#addTaskButton {
  border-radius: 20px;
  padding: 15px;
  background-image: linear-gradient(45deg, hsl(278, 100%, 20%) 0%, hsl(280, 100%, 24%) 14%, hsl(281, 100%, 29%) 29%, hsl(283, 100%, 33%) 43%, hsl(284, 100%, 37%) 57%, hsl(286, 100%, 41%) 71%, hsl(287, 100%, 46%) 86%, hsl(289, 100%, 50%) 100%);
  color: #fff;
  margin-left: 15px;
  outline: 1.75px solid transparent;
  transition: outline 0.3s ease;
}
#addTaskButton:hover {
  outline: solid 1.6px rgb(225, 1, 255);
}

#deleteTaskButton {
  margin-left: 15px;
}
#deleteTaskButton svg {
  transition: stroke 0.5s ease;
  stroke: #778899;
}
#deleteTaskButton svg:hover {
  stroke: #d000ff;
}

#searchButton {
  margin-left: 15px;
}
#searchButton path {
  transition: stroke 0.5s ease;
  stroke: #778899;
}
#searchButton:hover path {
  stroke: rgb(92, 6, 103);
}

#searchInput {
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 393px;
  padding: 10px 10px 10px 30px;
  border: 1px solid rgb(92, 6, 103);
  border-radius: 20px;
  animation: inputSlideForwards 0.75s ease-out;
  overflow: hidden;
  transition: border 0.5s ease-in;
}
#searchInput:focus {
  border: 1.5px solid rgb(173, 13, 195);
}

@keyframes inputSlideForwards {
  0% {
    width: 0;
  }
  100% {
    width: 235px;
  }
}
.search__hidden {
  display: none;
}

.search__animation {
  animation: inputSlideBackwards 0.75s ease-out;
}

@keyframes inputSlideBackwards {
  0% {
    width: 235px;
  }
  100% {
    width: 0;
  }
}
#clearAllTasks {
  margin-left: 15px;
}
#clearAllTasks svg {
  transition: stroke 0.5s ease;
}
#clearAllTasks svg:hover {
  stroke: #d000ff;
}

.task-list {
  margin-top: 30px;
}

#taskList {
  font-size: 20px;
  margin-left: 45px;
}

.icon__task {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -55px;
  bottom: 9px;
  border-radius: 50%;
  transition: stroke 0.4s ease-in-out;
}

.uncompleted__icon:hover svg path {
  stroke: #00b75c;
}
.uncompleted__icon svg path {
  transition: stroke 0.1s ease-in-out;
}

.completed__icon:hover svg path {
  stroke: #006432;
}
.completed__icon svg path {
  transition: stroke 0.1s ease-in-out;
}

.uncompleted__task {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #778899;
  border-radius: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.completed__task {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #00b75c;
  border-radius: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.text__span {
  max-width: calc(100% - 30px);
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: color 0.3s ease;
  word-wrap: break-word;
  overflow: hidden;
}
.text__span:hover {
  color: #778899;
}

.close__button {
  position: absolute;
  right: 10px;
  top: 11.5px;
  width: 40px;
  height: 40px;
  font-size: 32px;
  text-align: center;
  color: #96acc2;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.75s ease;
}
.close__button:hover {
  background-color: rgba(119, 136, 153, 0.3843137255);
  transform: rotate(180deg);
}

.priority__button {
  position: absolute;
  text-align: center;
  right: -35px;
  bottom: 17px;
  cursor: pointer;
  transition: fill 0.5s ease;
}
.priority__button:hover polygon {
  fill: rgb(92, 6, 103);
}

.priority__button--active polygon {
  fill: rgb(92, 6, 103);
}
.priority__button--active:hover polygon {
  fill: rgb(92, 6, 103);
}

.header__menu-inner {
  position: relative;
  display: flex;
}

#header__menu-btn {
  pointer-events: bounding-box;
}
#header__menu-btn svg {
  transition: transform 1s ease;
}
#header__menu-btn path {
  transition: stroke 0.3s ease-in;
  stroke: #778899;
}

.menu__btn-rotate svg {
  position: relative;
  transition: transform 1s ease;
  cursor: pointer;
  transform: rotate(120deg);
}
.menu__btn-rotate path {
  stroke: #d000ff !important;
}

.header__menu {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 60px;
  align-items: start;
  background-color: #cccccc;
  color: #000;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0px 0px 10px #778899;
}

.header__menu-item {
  width: 100%;
  padding: 15px 15px 15px 37px;
  text-align: left;
}
.header__menu-item:hover {
  background-color: rgb(184, 184, 184);
}
.header__menu-item:first-child {
  border-bottom: 2px solid rgb(92, 6, 103);
}
.header__menu-item:last-child {
  border-top: 2px solid rgb(92, 6, 103);
}
.header__menu-item:first-child:hover {
  border-radius: 5px 5px 0 0;
}
.header__menu-item:last-child:hover {
  border-radius: 0 0 5px 5px;
}

.header__menu-hidden {
  display: none;
}

.header__menu-item::before {
  content: "";
  position: absolute;
  text-align: left;
  left: 5px;
  margin-top: -2px;
  width: 24px;
  height: 24px;
}

.header__menu-item[data-action=clear-comp-tasks]::before {
  content: "";
  background: url(../image/icons/order-completed.svg) 0px 0px no-repeat;
  background-size: cover;
}

.header__menu-item[data-action=sort-alphabetically]::before {
  content: "";
  background: url(../image/icons/alph-sort.svg) 0px 0px no-repeat;
  background-size: cover;
}

.header__menu-item[data-action=sort-by-priority]::before {
  content: "";
  background: url(../image/icons/sort-important.svg) 0px 0px no-repeat;
  background-size: cover;
}