@import './variables';
@import './animations';

#todo-create__form-input-text {
	padding: 15px;
	border-radius: 20px;
	border: 1px solid $violet-color;
	box-shadow: 2px 3px 13px 0px #000;
	color: #fff;
	transition: border 0.5s ease-in, padding-right 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease-in;

	&:focus {
		padding-right: 50px;
		border: 1.5px solid $violet-focus-input;
		background-color: $violet-hover-input;
		box-shadow: 5px 5px 11px 0px $violet-hover-input;

		&::placeholder {
			opacity: 0.75;
		}
	}

	&:hover {
		background-color: $violet-hover-input;
	}
}

input[type="checkbox"] {
	display: none;
}

.checkbox__custom {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid $light-slate-gray;
	transition: border-color 0.4s ease;

	&:after {
		content: "";
		position: absolute;
		left: 8.2px;
		top: 3.1px;
		width: 6.4px;
		height: 13px;
		border: solid $light-slate-gray;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		opacity: 0;
		transition: border-color 0.4s ease, opacity 0.4s ease;
	}

	&:hover {
		border-color: $green-completed;
	}
}

input:checked~.checkbox__custom {
	border-color: $green-completed;

	&:after {
		opacity: 1;
		border: solid $green-completed;
		border-width: 0 2px 2px 0;

	}
}


#header__search-input {
	position: relative;
	opacity: 0;
	visibility: hidden;
	padding: 10px 60px 9px 10px;
	border: 1px solid #77889950;
	border-bottom: 1px solid $light-slate-gray;
	z-index: 1;
	transition: opacity 0.75s ease, visibility 0.75s ease;

	&:focus {
		border-bottom: 1px solid $violet-focus-input;

		&::placeholder {
			opacity: 0.75;
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}
}