.header__search {
	position: relative;
	margin-left: 30px;
}

.header__search-content {}

.header__search-visible {
	display: block !important;
}

.header__search-button-input--hidden {
	position: static!important;
}